*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
}


.bg {
    background: url("../images/");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}


/*general*/

.ruler {
    border-bottom: 2px solid rgb(2, 2, 65);
}

.bold {
    font-weight: bold;
}

.text-heading{
    font-family: 'Playfair Display SC', serif;
}

.text-title {
    font-family: 'Galada', cursive;
    color: #0477A2;
}

.text-subtitle {
    font-family: 'Playfair Display SC', serif;
    color: #0477A2;
    margin-bottom: 2rem;
}

.text-black{
    color: black;
}

.section{
    margin-bottom: 2rem;
}

/*navbar*/

@media screen and (max-width: 768px){
    nav{
        border-bottom: 1px solid black;
    }
}

nav {
    min-height: 10%;
    background-color: #0477A2;
}

.navbar-brand {
    font-family: 'Rock Salt', cursive;
    color: black;
}

.navbar-brand:hover{
    cursor: progress;
}

@media screen and (max-width: 768px){
    .navbar-brand {
        bottom: 0;
        left: 0;
        position: fixed;
        z-index: 10;
    }
}


.nav-link {
    color: black;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-left: auto;
}

.nav-link:hover {
    color: #ffffff;
}

/*landing section*/

.landing-container{
    height: 100%;
    overflow: auto;
}

.landing{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 80%;
    overflow: auto;
}

.landing-text{
    min-width: 0;
}

.landing-image-container{
    min-width: 0;
}

.landing-title {
    display: flex;
    justify-content: space-around;
}

.landing-background {
    background-image: url("../images/oceanwaves.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    overflow: hidden;
}

.block-white {
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.623);
    border-radius: 3px;
    z-index: 3;
    -moz-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.35);
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.35);
}

@media only screen and (max-width: 768px){
    .block-white{
        width: 70%;
    }
}

.landing-img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1px;
    z-index: 4;
}

/*footer*/

.logo-small {
    width: 2.5rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.coffee {
    display: flex;
    justify-content: space-around;
}

.below-footer {
    overflow: hidden;
}





